body {
    background: #f4f6f9;
    font-family: Arial;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 300px;
}